html {
    --indent: 27px;
    --list-text-colour: rgb(0, 116, 104);
    --innerspeaker-background: rgb(176, 213, 194);
    --lonerism-background: rgb(249, 222, 179);
    --currents-background: rgb(208, 183, 218);
    --the-slow-rush-background: rgb(235, 177, 173);
}

body {
    background-color: rgb(230, 227, 197);
}

header, main, footer {
    margin-left: 10vw;
    margin-right: 10vw;
}

h1 {
    text-align: center;
}

h2, h3 {
    padding: 5px 0px 5px var(--indent);
}

h1, h2, h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    font-size: 12px;
}

ul, ol {
    color: var(--list-text-colour);
}

iframe {
    display: none;
}

.kevin-performing {
    margin: 5px 5% 15px 5%;
    border: 5px inset rgb(103, 163, 103);
    width: 90%;
}

.album-list > li {
    margin-left: calc(0px - var(--indent));
    line-height: 20px;
}



.lonerism-cover {
    height: 200px;
    border-radius: 50%;
}

.toggle {
    margin: 0 0 20px 0;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    font-size: medium;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 230, 243);
}

.toggle:hover {
    color: white;
    background-color: rgb(3, 3, 165);
}

.track-lists {
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));   
}

.toggle, .album {
    display: flex;
    border: 2px solid rgb(3, 3, 165);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.album {
    border-radius: 10px;
    flex-direction: column;
    align-items: start;
}

#innerspeaker {
    background-color: var(--innerspeaker-background);
}

#lonerism {
    background-color: var(--lonerism-background);
}

#currents {
    background-color: var(--currents-background);
}

#the-slow-rush {
    background-color: var(--the-slow-rush-background);
}

.album > ul {
    padding: 0 5% 0 5%;
    width: 90%;
}


.track {
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
    padding: 1% 5% 5% 5%;
}

.album-info {
    font-size: 19px;
}

.album-info:hover {
    color: var(--list-text-colour) !important;
    background-color: inherit !important;
}

.track:hover {
    border-radius: 10px;
    color: white;
    background-color: rgb(78, 78, 158);
}

.track > p {
    margin: 5px;
}