html {
    --indent: 27px;
}

body {
    background-color: rgb(230, 227, 197);
}

header, main, footer {
    margin-left: 10vw;
    margin-right: 10vw;
}

h1 {
    text-align: center;
}

h2, h3 {
    padding: 5px 0px 5px var(--indent);
}

h1, h2, h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    font-size: 12px;
}

ul, ol {
    color: rgb(0, 116, 104);
}

.kevin-performing {
    margin: 5px 5% 15px 5%;
    border: 5px inset rgb(103, 163, 103);
    width: 90%;
}

.lonerism {
    margin-left: var(--indent);
}

.lonerism-cover {
    height: 200px;
    border-radius: 50%;
}

.toggle {
    margin: 0 0 20px var(--indent);
    height: 40px;
    width: 200px;
    border-radius: 5px;
    font-size: medium;
    align-items: center;
    justify-content: center;
}

.toggle:hover {
    color: white;
    background-color: rgb(3, 3, 165);
}

.track-lists {
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));   
}

.toggle, .album {
    display: flex;
    background-color: rgb(230, 230, 243);
    border: 2px solid rgb(3, 3, 165);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.album {
    border-radius: 10px;
    flex-direction: column;
    align-items: start;
}

.album > ul {
    padding: 0 0 0 10%;
    width: 90%;
}

.track {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 0 10% 0 0;
}

.track > p {
    margin: 5px;
}